#banner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 35vh;
	background-image: url('../images/watercolor.png');
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
}

#banner h1 {
	text-shadow: 1px 1px 1px black;
}